<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title><%= title %> - NewTOJ</title>
		<link rel="shortcut icon" href="/icon/favicon-toj.ico">

		<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
		<link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
		<script type="text/javascript" src="/javascripts/html5shiv.min.js"></script>
		<script type="text/javascript" src="/javascripts/respond.js"></script>
		<![endif]--> 


		<!--<script src="/javascripts/jquery.min.js"></script>-->
		<!--<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>-->
		<!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1-rc2/jquery.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
		<script src="/javascripts/moment.js"></script>
		<script src="/javascripts/countdown.min.js"></script>
		<script src="/javascripts/bootstrap-datetimepicker.js"></script>
		<!--<script src="/javascripts/bootstrap.min.js"></script>-->
		<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
		<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">-->

		<link href="/stylesheets/bootstrap-datetimepicker.css" rel="stylesheet">
		<link href="/stylesheets/jumbotron.css" rel="stylesheet">
		<link href="/stylesheets/sticky-footer.css" rel="stylesheet">
		<style type="text/css">
			img {
				border:0;
			}
			#navBar-right img {
				border-radius: 5px;
			}
			body {
				background:url('/icon/brillant.png');
			}
		</style>
	</head>
	<body>
		<div id="wrap">
			<!-- Fixed navbar -->
			<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">NewTOJ</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="/Problems">Problem</a></li>
							<li><a href="#about">Pick One!</a></li>
							<li><a href="/Status">Status</a></li>
							<li><a href="/Ranklist">Ranklist</a></li>
							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Contest<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/Contest/Contests?type=0">Virtual Contests</a></li>
								<li><a href="/Contest/Contests?type=1">ICPC Contests</a></li>
								<li><a href="/Contest/Contests?type=2">Classical Contests</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">Arrange a contest</li>
								<li><a href="#">Separated link</a></li>
								<li><a href="#">One more separated link</a></li>
							</ul>
							</li>
						</ul>

						<% if (!user) { %>
						<div class="navbar-form navbar-right">
							<a class="btn btn-primary" href="/reg">Sign up</a>
							<a class="btn btn-default" href="/login">Sign in</a>
						</div>
						<% } else {%>
						<ul id="navBar-right" class="nav navbar-nav navbar-right">

							<li class="dropdown">
							<a href="#" class="dropdown-toggle" style="margin-bottom:-5px" data-toggle="dropdown">
								<img src="http://www.gravatar.com/avatar/9ec418b31946b80fafb4c0a51667eaaf?s=25" />&nbsp&nbsp<%=user.username %>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/discuss/user/jie414341055">My Discuss</a></li>
								<li><a href=/profile/<%= user.username %>>Profile</a></li>
								<!-- TODO:  Dashboard  -->
								<li><a href=/accounts/ChangePasswd?u=<%= user.username %>>Change Password</a></li>
								<li class="divider"></li>
								<li><a href="/logout/">Sign out</a></li>
							</ul>
							</li>
						</ul>
						<% } %>
					</div><!--/.nav-collapse -->
				</div>
			</div>



			<!-- Main jumbotron for a primary marketing message or call to action -->


			<div id="msg" class="container" style="position: relative;width:1100px;">
				<% if (success) { %>
				<div class="alert alert-success alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<%= success %>
				</div>
				<% } %>
				<% if (error) { %>
				<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<%= error %>
				</div> 
				<% } %>

			</div>
			<script>
				setTimeout(function() {
					$("#msg").slideUp();
				}, 1500);
			</script>

			<div id="container" class="container">
				<%- body %>
				<hr />
			</div>
		</div>

		<div id="footer">
			<div class="container">
				<p class="text-muted">TJU-ACM 2014. Developed by <a href="mailto:jie414341055#gmail.com">MINJIE</a></p>
			</div>
		</div>
	</body>
</html>
