<link href="/stylesheets/signin.css" rel="stylesheet">
	<form class="form-signin" role="form" method="post">
		<fieldset>
			<h2 class="form-signin-heading">Please sign in</h2>
			<input type="text" class="form-control" id="username" name="username" placeholder="Username" required autofocus>
			<input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
			<label class="checkbox">
				<input type="checkbox" value="remember-me"> Remember me
			</label>
			<div class="form-actions">
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			</div>
		</fieldset>
	</form>




<!--
<form class="form-horizontal" method="post">
	<fieldset>
		<legend>User login</legend>
		<div class="control-group">
			<label class="control-label" for="username">username</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="username" name="username">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password">password</label>
			<div class="controls">
				<input type="password" class="input-xlarge" id="password" name="password">
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">login</button>
		</div>
	</fieldset>
</form>
-->
