<script src="/javascripts/codemirror/codemirror.js"></script>
<script src="/javascripts/codemirror/clike.js"></script>
<link href="/stylesheets/codemirror/codemirror.css" rel="stylesheet">
<script src="/javascripts/probsubmit.js"></script>

<style type="text/css" media="screen">
	/*
	*/
	#submit-btn {
		margin-left: 450px;
		margin-top: 20px;
	}

</style>

<div id="title">
	<h2 style="text-align:center"><font color="#428BCA">Submit Your Solution</font></h2>
	<h6 id="code-err_msg" style="text-align:center; font-weight:normal;"></h6>
</div>
<div class="col-md-2" id="langselect" style="margin-top:5px;margin-left:135px;">
	<select class="form-control" name="lang" id="lang" onchange="SelectLang(this)">
		<%- flang %>
	</select>
</div>
<div style="margin-top:60px; margin-left:150px; max-width:660px;border:1px solid #DDD;">
	<textarea id="mycodebox">
	</textarea>
</div>
<div id="submit-btn">
	<button type="submit" class="btn btn-primary" onclick="Submit(<%= fprob.pid %>)"> Submit </button>
</div>
