<div class="page-header">
	<h3><%= pid %> <%= title %><small></small></h3>
</div>

<%= desc %>


<h4>Input</h4>
	<%= input %>

<h4>Output</h4>
	<%= output %>

<h4>Sample Input</h4>
	<%= sample_in %>

<h4>Sample Output</h4>
	<%= sample_out %>

<h4>Hint</h4>
hint here...

<center>
<div class="btn-group">
	<button type="button" class="btn btn-default">Submit</button>
	<button type="button" class="btn btn-default">Status</button>
	<button type="button" class="btn btn-default">Statisics</button>
</div>
</center>
