<link href="/stylesheets/profile.css" rel="stylesheet">
<script type="text/javascript" src="/javascripts/profile.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div class="main-content">
	<div class="main-content-inner" id="left-bar">

		<div class="profile-header">
			<div class="profile-header-main">

				<!-- username, nickname -->
				<div class="top">
					<div class="title-section ellipsis">
							<span  title="username"><a href=#><%= fuser.username %></a></span>
					</div>
				</div>
				<!-- username end -->

				<div class="body clearfix">

					<!-- avatar -->
					<div class="profile-header-avatar-container self">
						<img alt="avatar" src="/avatar/<%= fuser.username %>.png" class="avatar">
					</div>
					<!-- avatar end -->

					<!-- personal info -->
					<div class="profile-header-info">
						<div class="profile-header-user-describe">
							<div class="items">
								<div class="item editable-group" data-name="location">
									<span class="glyphicon glyphicon-map-marker"></span>
									<span class="info-wrap">
											<% if(fuser.country) {%>
											<span class="location item" title="country"><%- fuser.country %></span>
											<% } else {%>
											<span class="location item" title="country">Earth</span>
											<% } %>
										<span class="glyphicon glyphicon-user"></span>
										<% if(fuser.gender) {%>
										<span class="gender item" title="gender"><%= fuser.gender %></span>
										<% } else {%>
										<span class="gender item" title="gender">Male or Female?</span>
										<% } %>
									</span>
								</div>

								<div class="item editable-group empty" data-name="employment">
									<span class="info-wrap">
										<span class="glyphicon glyphicon-tags"></span>
										<% if(fuser.univer) {%>
										<span class="education item" title="university">Tianjin University</span>
										<% } %>
									</span>
								</div>
								<div class="item editable-group empty" data-name="employment">
									<span class="info-wrap">
										<span class="glyphicon glyphicon-home"></span>
										<% if(fuser.univer) {%>
										<span class="website item" title="website"><%= fuser.website %></span>
										<% } %>
									</span>
								</div>
							</div>
						</div>
						<div class="moto">
							<% if(fuser.decl) {%>
							<span title="moto"><%= fuser.decl %></span>
							<% } else {%>
							<span title="moto">This guy is too lazy. He didn't leave anything...</span>
							<% } %>
						</div>
					</div>
					<!-- personal info end -->

				</div>
			</div>

			<!-- AC and solved -->
			<div class="profile-navbar clearfix">
				<a class="item " href="/Ranklist">
					Rank
					<span class="num"><%= frank %></span>
				</a>
				<a class="item " href="/Status?username=<%= fuser.username %>">
					Submitted
					<span class="num"><%= fuser.total_submit %></span>
				</a>
				<a class="item " href="/Status?username=<%= fuser.username %>&result=0">
					Accepted
					<span class="num"><%= fuser.total_ac %></span>
				</a>
				<a class="item " href="/Ranklist">
					Rating
					<span class="num">0</span>
				</a>
			</div>

		</div>
		<div style="margin-top:20px;">
			<h3 class="text-center" style="color:#428BCA">Problem Solved</h3>
			<div id="prob_solved" style="min-height:100px;">
				<%fpids.forEach(function(p, i) {%><a href=/ShowProblems?pid=<%=p.pid %>><%= p.pid %> </a><%});%>
			</div>
		</div>
	</div>
	<div class="main-sidebar" id="right-bar">
		<div id="punch-loader" style="width:5%; margin: 75px auto;"><img src=/icon/punch_loader.gif></img></div>
		<div id="punch-card" style="display:none"></div>
	</div>
</div>

<script>
	var u = <%- JSON.stringify(fuser.username) %>;
	$(function() {
		deal_with(u);
	});
</script>
