<select id="alltags">
<option value="2-sat">2-sat</option>
<option value="Aho-Corasick automation">Aho-Corasick automation</option>
<option value="bfs">bfs</option>
<option value="binary match">binary match</option>
<option value="binary search">binary search</option>
<option value="binary tree">binary tree</option>
<option value="brute force">brute force</option>
<option value="combinatorics">combinatorics</option>
<option value="constructive algorithm">constructive algorithm</option>
<option value="count">count</option>
<option value="dancing link">dancing link</option>
<option value="data structure">data structure</option>
<option value="dfs">dfs</option>
<option value="disjoint-set">disjoint-set</option>
<option value="divide and conquer">divide and conquer</option>
<option value="dp">dp</option>
<option value="dynamic tree">dynamic tree</option>
<option value="ext_kmp">ext_kmp</option>
<option value="fast power">fast power</option>
<option value="fft">fft</option>
<option value="game">game</option>
<option value="geometry">geometry</option>
<option value="graphs">graphs</option>
<option value="greedy">greedy</option>
<option value="hard">hard</option>
<option value="hash">hash</option>
<option value="high accuracy">high accuracy</option>
<option value="implementation">implementation</option>
<option value="kdtree">kdtree</option>
<option value="kmp">kmp</option>
<option value="lca">lca</option>
<option value="math">math</option>
<option value="math theory">math theory</option>
<option value="matrix">matrix</option>
<option value="maximum clique">maximum clique</option>
<option value="merge">merge</option>
<option value="network flow">network flow</option>
<option value="partition tree">partition tree</option>
<option value="queue">queue</option>
<option value="recursion">recursion</option>
<option value="regular">regular</option>
<option value="rmq">rmq</option>
<option value="scan line">scan line</option>
<option value="search">search</option>
<option value="segment tree">segment tree</option>
<option value="shortest path">shortest path</option>
<option value="sort">sort</option>
<option value="splay tree">splay tree</option>
<option value="stack">stack</option>
<option value="string">string</option>
<option value="string matching">string matching</option>
<option value="string suffix structure">string suffix structure</option>
<option value="tarjan">tarjan</option>
<option value="ternary search">ternary search</option>
<option value="topological sort">topological sort</option>
<option value="tree">tree</option>
<option value="tree array">tree array</option>
<option value="tree dp">tree dp</option>
<option value="water">water</option>
</select>
