<link href="/stylesheets/showproblem.css" rel="stylesheet">
<script src="/javascripts/showproblem.js"></script>
<div class="container" id="page-content">
	<div class="row-fluid">
		<div class="span12">
			<div id="showProblem">
			<div class="page-header">
				<h2><%- fprob.title %></h2>
			</div>
			<div>
				<div class="row">
					<div class="col-md-3"><b>Time Limit: </b><%= fprob.time_limit %>MS</div>
					<div class="col-md-4"><b>Memory Limit: </b><%= fprob.mem_limit %>K</div>
					<div class="col-md-3"><span class="label label-primary"><a style="text-decoration:none; color:#FFFFFF;" href=http://<%- flinks[fprob.oj][0]+fprob.vid+flinks[fprob.oj][1] %> target="original"><%= fprob.oj %> <%= fprob.vid %></a></span></div>
				</div>
				<div class="row">
					<div class="col-md-3"><b>Total Runs: </b><%= fprob.vtotal_submit+fprob.total_submit %></div>
					<div class="col-md-4"><b>Accepted Runs: </b><%= fprob.vtotal_ac+fprob.total_ac %></div>
					<div class="col-md-3"><b>64bit IO: </b><% if(fprob.oj=="HDU"){%>I64d%<%}else{%>lld%<%}%></div>
				</div>
				 <div style="text-align:center;margin-top:15px;">
					<ul class="pager" style="float:left;margin-top:0px;">
						<li class="previous"><a href="/ShowProblems?pid=<%= fprob.pid-1 %>">&larr; Prev</a></li>
					</ul>
				 	<div class="btn-group" style="text-align:center;">
						<button type="button" class="btn btn-primary"><a style="color:white;" href="/ProbSubmit?pid=<%= fprob.pid %>">Submit</a></button>
						<button type="button" class="btn btn-default"><a style="color:black;" href="/Status?pid=<%= fprob.pid %>">Status</a></button>
						<button type="button" class="btn btn-default"><a style="color:black;" href="/Statistics?pid=<%= fprob.pid %>">Statistics</a></button>
						<button type="button" class="btn btn-default"><a style="color:black;" href="/Discuss?pid=<%= fprob.pid %>">Discuss</a></button>
					 </div>
					<ul class="pager" style="float:right;margin-top:0px;">
						<li class="next"><a href="/ShowProblems?pid=<%= fprob.pid+1 %>">Next &rarr;</a></li>
					</ul>
				 </div>
				<% if(fprob.desc) { %>
					<h3> Description </h3>
					<div class="content-wrapper well">
						 <%- fprob.desc %>
					 </div>
				<% } %>
				<% if(fprob.input) { %>
					 <h3> Input </h3>
					 <div class="content-wrapper well">
						 <%- fprob.input %>
						 <div style="clear:both"></div>
					 </div>
				<% } %>
				<% if(fprob.output) { %>
					 <h3> Output </h3>
					 <div class="content-wrapper well">
						 <%- fprob.output %>
						 <div style="clear:both"></div>
					 </div>
				<% } %>
				<% if(fprob.sample_in) { %>
					 <h3> Sample Input </h3>
					 <pre class="content-wrapper"><%- fprob.sample_in %></pre>
				<% } %>
				<% if(fprob.sample_out) { %>
					 <h3> Sample Output </h3>
					 <pre class="content-wrapper"><%- fprob.sample_out %></pre>
				<% } %>
				<% if(fprob.source) { %>
					 <h3> Source </h3>
					 <pre class="content-wrapper"><%- fprob.source %></pre>
				<% } %>
				<% if(fprob.hint) { %>
					 <h4> Hint </h4>
					 <pre class="content-wrapper"><%- fprob.hint %></pre>
				<% } %>
			</div>
		 </div>
	 </div>
	 <div style="text-align:center;">
	 	<div class="btn-group" style="text-align:center;">
			<button type="button" class="btn btn-primary"><a style="color:white;" href="/ProbSubmit?pid=<%= fprob.pid %>">Submit</a></button>
			<button type="button" class="btn btn-default"><a style="color:black;" href="/Status?pid=<%= fprob.pid %>">Status</a></button>
			<button type="button" class="btn btn-default"><a style="color:black;" href="/Statistics?pid=<%= fprob.pid %>">Statistics</a></button>
			<button type="button" class="btn btn-default"><a style="color:black;" href="/Discuss?pid=<%= fprob.pid %>">Discuss</a></button>
		 </div>
	 </div>

	<br/><br/>
	<div style="width:940px;height:1px; background:#C0C0C0;"></div>
	<h4><a id="tag-title" href="javascript:dotags(<%= fprob.pid %>);">Show Tags</a></h4>
	<div id="tags" class="panel panel-default" style="display:none;">
		<div id="prob-tags">
		</div>
	 </div>
	<div id="notice" style="font-size:12px; color:#878787; ">
 	</div>
	<div id="choose" style="display:none;">
		<%- partial("select_tag") %><button type="button" class="btn btn-link" onclick="submit_tag(<%= fprob.pid %>)">confirm</button>
	</div>
 </div>
