<link href="/stylesheets/status.css" rel="stylesheet">
<script src="/javascripts/status.js"></script>

<div id="title">
	<h2 style="text-align:center"><font color="#428BCA">Realtime Status</font></h2>
</div>

<div class="form-horizontal" role="form">
	<div class="form-group">
		<label class="col-sm-1 control-label">Prob ID:</label>
		<div class="col-xs-1">
			<input id = "pid" type="text" class="form-control" <%if(fselected.pid){%>value="<%-fselected.pid%>"<%}else{%>placeholder="PID"<%}%>>
		</div>
		<label class="col-sm-1 control-label">User:</label>
		<div class="col-xs-2">
			<input id = "user" type="text" class="form-control" <%if(fselected.username){%>value="<%-fselected.username%>"<%}else{%>placeholder="username"<%}%>>
		</div>
		<label class="col-sm-1 control-label">Result:</label>
		<div class="col-xs-2">
			<select id = "result" class="form-control">
				<option value="" <%if(!fselected.result){%>selected<%}%>>All</option>
				<option value="0"<%if(fselected.result=="Accepted"){%>selected<%}%>>Accepted</option>
				<option value="1"<%if(fselected.result=="Wrong Answer"){%>selected<%}%>>Wrong Answer</option>
				<option value="2"<%if(fselected.result=="Presentation Error"){%>selected<%}%>>Presentation Error</option>
				<option value="3"<%if(fselected.result=="Compilation Error"){%>selected<%}%>>Compilation Error</option>
				<option value="4"<%if(fselected.result=="Runtime Error"){%>selected<%}%>>Runtime Error</option>
				<option value="5"<%if(fselected.result=="TimeLimit Exceeded"){%>selected<%}%>>TimeLimit Exceeded</option>
				<option value="6"<%if(fselected.result=="MemoryLimit Exceeded"){%>selected<%}%>>MemoryLimit Exceeded</option>
				<option value="7"<%if(fselected.result=="OutputLimit Exceeded"){%>selected<%}%>>OutputLimit Exceeded</option>
				<option value="8"<%if(fselected.result=="Judge Error"){%>selected<%}%>>Judge Error</option>
			</select>
		</div>
		<label class="col-sm-1 control-label">Language:</label>
		<div class="col-xs-2">
			<select id = "lang" class="form-control">
				<option value=""<%if(!fselected.lang){%>selected<%}%>>All</option>
				<option value="12"<%if(fselected.lang=='12'){%>selected<%}%>>C++</option>
				<option value="1"<%if(fselected.lang=='1'){%>selected<%}%>>G++</option>
				<option value="3"<%if(fselected.lang=='3'){%>selected<%}%>>Java</option>
				<option value="2"<%if(fselected.lang=='2'){%>selected<%}%>>GCC</option>
				<option value="13"<%if(fselected.lang=='13'){%>selected<%}%>>C</option>
				<option value="4"<%if(fselected.lang=='4'){%>selected<%}%>>Pascal</option>
				<option value="15"<%if(fselected.lang=='15'){%>selected<%}%>>Perl</option>
				<option value="16"<%if(fselected.lang=='16'){%>selected<%}%>>Python</option>
			</select>
		</div>
		<button type="button" class="btn btn-primary" onclick="Search()">Search</button>

	</div>
	<div class="form-group">
		<table id="Status" class="table table-condensed table-bordered table-striped table-centered">
			<thead>
				<tr>
					<th class="header-runid">
						<div id="searchTitleBtn" class="" order='asc'><a href="#">Run ID</a></div>
					</th>
					<th class="header-sub_time">
						<div id="searchTitleBtn" class="" order='asc'><a href="#">Submit Time</a></div>
					</th>
					<th class="header-result">
						<div id="titleBtn" class="" order='asc'><a href="#">Result</a></div>
					</th>
					<th class="header-pid">
						<div id="searchAcrateBtn" class="" order='asc'><a href="#">PID</a></div>
					</th>
					<th class="header-time">
						<div id="searchAcrateBtn" class="" order='asc'><a href="#">Time</a></div>
					</th>
					<th class="header-memory">
						<div id="searchAcrateBtn" class="" order='asc'><a href="#">Memory</a></div>
					</th>
					<th class="header-codelen">
						<div id="searchAcrateBtn" class="" order='asc'><a href="#">Code Len</a></div>
					</th>
					<th class="header-lang">
						<div id="searchAcrateBtn" class="" order='asc'><a href="#">Language</a></div>
					</th>
					<th class="header-user">
						<div id="searchAcrateBtn" class="" order='asc'><a href="#">User</a></div>
					</th>
				</tr>
			</thead>
			<tbody>
				<% fstats.forEach(function(stat, index) { %>
				<tr>
					<td><%- stat.run_ID %></td>

					<%var tm = stat.submit_time; tm.setHours(tm.getHours()+8); %>
					<td><%- tm.toISOString().replace(/T/,' ').replace(/\..+/,'') %></td>

					<% if(stat.result == "Accepted") {%>
					<td><font color="red"><%- stat.result %></font></td>
					<% } else if(stat.result == "Compilation Error") {%>
					<td><font color="#6633FF"><a href=/ShowCEError?runid=<%- stat.run_ID%>><%- stat.result %></a></font></td>
					<% } else if(stat.result == "Presentation Error") {%>
					<td><font color="orange"><%- stat.result %></font></td>
					<% } else { %>
					<td><font color="green"><%- stat.result %></font></td>
					<% } %>

					<td><a href=/ShowProblems?pid=<%- stat.pid%>> <%- stat.pid %></a></td>
					<td><%- stat.time_used %>MS
					</td>

					<td><%- stat.mem_used %>K
					</td>

					<% if(floginUser == stat.username) { %>
					<td><a href=/ShowCode?runid=<%- stat.run_ID %>><%- stat.code_len %>B</a></td>
					<% } else {%>
					<td><%- stat.code_len %>B</td>
					<% } %>

					<td><%- fcorrlang[stat.lang]%></td>

					<td><a href=/profile/<%- stat.username %>><%- stat.username %></a></td>
				</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
	<div class="form-group">
		<center>
		<ul class="pager"> 
			<li><a href=<%= furl %>&page=1>First Page</a></li>
			<% if(fpageID == 1) { %>
			<li><a href=#>Prev Page</a></li>
			<% } else {%>
			<li><a href=<%= furl%>&page=<%= fpageID-1%>>Prev Page</a></li>
			<% } %>
			<% if(fpageID == ftotal_page) { %>
			<li><a href=#>Next Page</a></li>
			<% } else {%>
			<li><a href=<%= furl%>&page=<%= fpageID+1%>>Next Page</a></li>
			<% } %>
			<li><a href=<%= furl %>&page=<%= ftotal_page %>>Last Page</a></li>
		</ul>
		</center>
	</div>
</div>
