<div class="input-group" style="width:100%; margin-top:10px;">
	<div class="input-group" style="float:left; width:70%; ">
		<input id="dtitle" type="text" class="form-control" style="border-radius:4px;">
	</div>
	<div class="input-group" style="float:right; width:20%; ">
		<span class="input-group-btn">
			<button class="btn btn-default">Pid:</button>
		</span>
		<input id="pid" type="text" class="form-control" style="border-radius:4px;" onchange="CheckPID()">
	</div>
</div>
<div id="pid_err_msg" style="float:right; color:red;"></div>
