<div class="panel">
	<div class="header">
		<span>Markdown Reference</span>
	</div>
	<div class="inner">
		<ol style="margin:4px 0px; list-style:none outside none;padding:0px;">
			<li><tt>### 行内标题</tt></li>
			<li><tt>**粗体**</tt></li>
			<li><tt>`行内代码`</tt></li>
			<li><tt>[内容](链接)</tt></li>
			<span>
				<a target="_blank" href="http://www.ituring.com.cn/article/775">Markdown 文档</a>
			</span>
		</ol>
		<h4>发帖注意:</h4>
		<ol>
			<li><tt>如果是一般性提问pid选项留空；</tt></li>
			<li><tt>如果贴源代码请将代码包在代码块中，方法为选中代码然后点击如下按钮。<img src=/icon/wmd-code.png></tt></li>
		</ol>
	</div>
</div>
