<link href="/stylesheets/contest_problem.css" rel="stylesheet">
<script src="/javascripts/contest_problem.js"></script>
<ul class="nav nav-tabs" id="ctab">
	<li><a href="/Contest/ShowContests?cid=<%= fcont.cid %>">Info</a></li>
	<li class="active"><a href="#">Problem</a></li>
	<li><a href="/Contest/Status?cid=<%= fcont.cid %>">Status</a></li>
	<li><a href="/Contest/Standing?cid=<%= fcont.cid %>">Standing</a></li>
</ul>

<!-- Title -->
<h2 class="text-center" style="color:#428BCA; margin-top: 20px;"><%- fcont.title %></h2>

<!-- Status -->
<p class="text-center">Status:
	<span id="cstatus"></span><br/>
	<span id="tm_remain"></span>
</p>

<!-- Problem List -->
<div class="form-group">
	<% if(new Date() > fcont.start_time) { %>
	<table id="problemList" class="table table-striped table-centered">
		<thead id="cstatus_head">
			<th class="header-status">
			</th>
			<th class="header-id">
				<div id="searchTitleBtn" class="" order='asc'><a href="#">ID</a></div>
			</th>
			<th class="header-title">
				<div id="searchTitleBtn" class="" order='asc'><a href="#">Title</a></div>
			</th>
			<th class="header-ac">
				<div id="searchAcrateBtn" class="" order='asc'><a href="#">AC Ratio</a></div>
			</th>
		</thead>
		<tbody id="cstatus_body">

		</tbody>
	</table>
	<% } %>
</div>
<script>
	var st = <%- JSON.stringify(fcont.start_time)%>;
	var ed = <%- JSON.stringify(fcont.end_time)%>;
	var now = new Date();
	st = new Date(st);
	ed = new Date(ed);
	if(now < st) {
		$("#cstatus").css({'color':'#EE7600'});
		$("#cstatus").html('Pending');
	} else if(now > ed) {
		$("#cstatus").css({'color':'green'});
		$("#cstatus").html('Passed');
	} else {
		$("#cstatus").css({'color':'red'});
		$("#cstatus").html('Running');
	}
	/*
			<% fcont.problem.forEach(function(prob, index) { %>
			<tr id="<%- index %>">
				<!--<span class="ac"> </span>-->
				<td class="status"></td>
				<td class="index"><%= index+1001 %></td>
				<td class="title"></td>
				<td class="ac-ratio"></td>
			</tr>
			<% }); %>
		*/
	if(now > st) {
		var fcont = <%- JSON.stringify(fcont) %>;
		var cid = fcont.cid;
		var cnt = fcont.problem.length;
		var body = "";
		for(var i = 0;i < cnt; ++i) {
			$.ajax ({
				url: '/Contest/GetProblems',
				type: 'POST',
				data: {cid:cid, index:i},
				async: false,
				success: function(json) {
					body += "<tr id='"+i+"'><td class='status'><td class='index'>"+(i+1001+"")+"</td>"
						+"<td class='title'><a href=/Contest/ShowProblems?cid="+cid+"&pid="+(i+1001+"")+">"+json.title+"</a></td>"+"<td class='ac-ratio'>"+json.ac+"/"+json.all+"</td>";
					//$("#"+i + " .title").html('<a href=/Contest/ShowProblems?cid='+cid+'&pid='+(i+1001)+'>'+json.title+'</a>');
					//$("#"+i + " .ac-ratio").html(json.ac+'/'+json.all);
				}
			});
		}
		$('#cstatus_body').html(body);
	}
</script>
