<link href="/stylesheets/arrange.css" rel="stylesheet">
<script src="/javascripts/arrange.js"></script>
<script src="/javascripts/jquery.validate.js"></script>
<script>
$().ready(function() {
	$("#carrange").validate({
		rules: {
			csttime: {
				required: true,
				dateISO: true
			},
			cedtime: {
				required: true,
				dateISO: true
			},
			ctitle: {
				required: true,
				minlength: 5,
				maxlength: 50
			},
			cdesc: {
				required: false,
				maxlength: 500
			}
		},
		messages: {
			ctitle: {
				required: "Please enter a title.",
				minlength: "Title must consist of at least 5 characters."
			},
			csttime: {
				required: "Start time is required."
			},
			cedtime: {
				required: "End time is required."
			}
		},
		submitHandler: function(form) {  
				form.submit();
		}
	});
});
$(function() {
	var iscopy = <%- JSON.stringify(iscopy) %>;
	if (iscopy == 1) {
		var cont = <%- JSON.stringify(fcont) %>;
		var probs = <%- JSON.stringify(fprobs) %>;
		fill(cont, probs);
	}
});
</script>
<style type="text/css">
#carrange label.error {
	font-weight: normal;
	color: red;
}
</style>

<div class="modal-header">
	<h3 style="text-align:center"><font color="#428BCA">Arrange Contest</font></h3>
</div>
<div class="modal-body">
	<form id="carrange" method="post" action="/Contest/ArrangeContest?type=<%= ftype %>">
		<div class="info">
			<div id="arrange" class="form-horizontal">
				<div class="form-group">
					<label for="ctitle" class="col-sm-3 control-label">Title:</label>
					<div class="col-sm-7"><input id="ctitle" name="ctitle" type="text" class="form-control" placeholder="Contest Title" ></div>
					<div class="col-sm-1" style="color:red; padding-left:3px; padding-top:7px;">*</div>
				</div>

				<div class="form-group">
					<label for="cdesc" class="col-sm-3 control-label">Desc:</label>
					<div class="col-sm-7"><textarea id="cdesc" name="cdesc" class="form-control" rows="6" placeholder="This is a ICPC format Contest, the contest will last 5 hours."></textarea></div>
				</div>


				<div class="form-group">
					<label for="csttime" class="col-sm-3 control-label">Start Time:</label>
					<div class='input-group date' id='datetimepicker1' data-date-format="YYYY/MM/DD hh:mm A" style="width: 255px;">
						<input type='text' name="csttime" id="csttime" class="form-control" style="margin-left: 14px;  width: 220px;"/>
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
					<label class="error" for="csttime" style="margin-left:140px;"></label>
				</div>


				<div class="form-group">
					<label for="cedtime" class="col-sm-3 control-label">End Time:</label>
					<div class='input-group date' id='datetimepicker2' data-date-format="YYYY/MM/DD hh:mm A" style="width: 255px;">
						<input type='text' name="cedtime" id="cedtime" class="form-control" style="margin-left: 14px;  width: 220px;"/>
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
					<label class="error" for="cedtime" style="margin-left:140px;"></label>
				</div>

				<div class="form-group">
					<label for="cpasswd" class="col-sm-3 control-label">Password:</label>
					<div class="col-sm-7"><input id="cpasswd" name="cpasswd" class="form-control" placeholder="Leave it blank if no need."></div>
				</div><br>
			</div>
		</div>
		<div class="prob">
			<div class="form-horizontal">
				<%for(var i=1001;i<=1011;++i){%>
				<div class="form-group">
					<label for="Prob1" class="col-sm-2 control-label">Prob <%= String.fromCharCode(65+i-1001) %>:</label>
					<div class="col-sm-3"><select name="oj<%- i %>" id="oj<%- i %>" class="form-control">
							<% for(var j = 0;j < fojs.length; ++j) {%>
							<option value="<%= fojs[j] %>"><%= fojs[j] %></option>
							<% } %>
					</select></div>
					<div class="col-sm-3"><input class="form-control" type="text" name="pid<%- i %>" id="pid<%- i %>" placeholder="Prob ID" onchange="CheckPID('<%- i %>')"></div>
					<span id="title<%- i %>"></span>

					<% if((ftype === 0 && i<=1001) || (ftype===1 && i<=1009)) {%>
					<div class="col-sm-1" style="color:red;padding-left:3px;padding-top:7px;">
						<span>*</span>
					</div>
					<%}%>

					<% if(ftype===0 && i==1011) { %>
					<label style="padding-top:7px;" id="addmorelabel"><a href=# onclick="Addmore()">Add More</a></label>
					<%}%>
				</div>
				<%}%>

				<div id="moreprob" style="display:none">
					<%for(var i=1012;i<=1015;++i){%>
					<div class="form-group">
						<label for="Prob1" class="col-sm-2 control-label" style="width:16.767%;">Prob <%= String.fromCharCode(65+i-1001) %>:</label>
						<div class="col-sm-3"><select name="oj<%- i %>" id="oj<%- i %>" class="form-control">
								<% for(var j = 0;j < fojs.length; ++j) {%>
								<option value="<%= fojs[j] %>"><%= fojs[j] %></option>
								<% } %>
						</select></div>
						<div class="col-sm-3"><input class="form-control" type="text" name="pid<%- i %>" id="pid<%- i %>" placeholder="Prob ID" onchange="CheckPID('<%- i %>')"></div>
						<span id="title<%- i %>"></span>
					</div>
					<%}%>
				</div>

			</div>
		</div>
	</form>
</div>
<div >
	<center>
		<button type="button" id="submit" name="submit" class="btn btn-primary" onclick="Submit()">Submit</button>
	</center>
</div>
<div class="alert alert-danger" id="errmsg" style="width:30%;margin-top:25px;margin-left:120px;display:none">
</div>

