<script src="/javascripts/codemirror/codemirror.js"></script>
<script src="/javascripts/codemirror/clike.js"></script>
<link href="/stylesheets/codemirror/codemirror.css" rel="stylesheet">
<script src="/javascripts/contest_probsubmit.js"></script>

<style type="text/css" media="screen">
	#submit-btn {
		margin-left: 305px;
		margin-top: 15px;
		margin-bottom: 20px;
	}

</style>

<ul class="nav nav-pills nav-stacked" style="margin-top:20px; width:13%; float:left; border-bottom:1px solid #ddd;" id="ctab">
	<li><a href="/Contest/ShowContests?cid=<%= fcid %>">Overview</a></li>
	<li><a href="/Contest/Problems?cid=<%- fcid %>">Problem</a></li>
	<li><a href="/Contest/Status?cid=<%= fcid %>">Status</a></li>
	<li><a href="/Contest/Standing?cid=<%= fcid %>">Standing</a></li>
	<li><a href="#">Clarification</a></li>
	<li><a href="#">Settings</a></li>
</ul>

<div id="ccontent" style="float:right; width:80%;">
<div id="title">
	<h2 style="margin-left:161px;"><font color="#428BCA">Submit Your Solution</font></h2>
	<h6 id="code-err_msg" style="text-align:center; font-weight:normal;"></h6>
</div>
<div class="col-md-2" id="langselect">
	<select class="form-control" name="lang" id="lang" onchange="SelectLang(this)">
		<%- flang %>
	</select>
</div>
<div style="margin-top:55px; margin-left:15px; max-width:660px;border:1px solid #DDD;">
	<textarea id="mycodebox">
	</textarea>
</div>
<div id="submit-btn">
	<button type="submit" class="btn btn-primary" onclick='Submit(<%= fcid %>,<%= findex+1001 %>,<%- JSON.stringify(fedtime) %>)'> Submit </button>
</div>
</div>

