<link href="/stylesheets/statistics.css" rel="stylesheet">
<script src="/javascripts/statistics.js"></script>


<div class="form-horizontal" role="form">
	<div id="title">
		<h2 style="text-align:center; color:#428BCA;"><%= fprob.title %></h2>
	</div>
	<div class="form-group" style="margin-bottom:5px;">
		<label class="col-sm-2 control-label" style="width:12%;">Language:</label>
		<label class="col-sm-1 control-label" style="width:5%;"><a href=javascript:lang(12)>C++</a></label>
		<label class="col-sm-1 control-label" style="width:5%;"><a href=javascript:lang(1)>G++</a></label>
		<label class="col-sm-1 control-label" style="width:5%;"><a href=javascript:lang(3)>Java</a></label>
		<label class="col-sm-1 control-label" style="width:8%;"><a href=javascript:lang(4)>Pascal</a></label>
		<label class="col-sm-1 control-label" style="width:5%;"><a href=javascript:lang(2)>GCC</a></label>
		<label class="col-sm-1 control-label" style="width:7%;"><a href=javascript:lang(13)>C</a></label>
	</div>
	<div class="form-group">
		<table id="Status" class="table table-condensed table-bordered table-striped table-centered">
			<thead>
				<tr>
					<th class="header-rank">
						<div id="searchTitleBtn" class="" order='asc'><a href="#">Rank</a></div>
					</th>
					<th class="header-username">
						<div id="searchTitleBtn" class="" order='asc'><a href="#">Author</a></div>
					</th>
					<th class="header-time">
						<div id="titleBtn" class="" order='asc'><a href="#">Time</a></div>
					</th>
					<th class="header-memory">
						<div id="searchAcrateBtn" class="" order='asc'><a href="#">Memory</a></div>
					</th>
					<th class="header-code_len">
						<div id="searchAcrateBtn" class="" order='asc'><a href="#">Code Len</a></div>
					</th>
					<th class="header-lang">
						<div id="searchAcrateBtn" class="" order='asc'><a href="#">Language</a></div>
					</th>
					<th class="header-sub_time">
						<div id="searchAcrateBtn" class="" order='asc'><a href="#">Submit Time</a></div>
					</th>
				</tr>
			</thead>
			<tbody>
				<% fstatistics.forEach(function(stat, index) { %>
				<tr>
					<td><%= (fpageID-1)*15 + index+1 %></td>
					<td><%- stat.username %></td>
					<td><%- stat.time_used %>MS</td>
					<td><%- stat.mem_used %>K</td>
					<td><%- stat.code_len %>B</td>
					<td><%- fcorrlang[stat.lang] %></td>
					<td><%- stat.submit_time %></td>
				</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
	<div class="form-group">
		<center>
		<ul class="pager"> 
			<li><a href=<%= furl %>&page=1>First Page</a></li>
			<% if(fpageID == 1) { %>
			<li><a href=#>Prev Page</a></li>
			<% } else {%>
			<li><a href=<%= furl%>&page=<%= fpageID-1%>>Prev Page</a></li>
			<% } %>
			<% if(fpageID == ftotal_page) { %>
			<li><a href=#>Next Page</a></li>
			<% } else {%>
			<li><a href=<%= furl%>&page=<%= fpageID+1%>>Next Page</a></li>
			<% } %>
			<li><a href=<%= furl %>&page=<%= ftotal_page %>>Last Page</a></li>
		</ul>
		</center>
	</div>
</div>

<div id="statistics">
	<table id="statistics_table" class="table table-hover table-bordered table-condensed">
			<tr>
				<th style="color:#428BCA; width:80%;">Total Submissions</th>
				<td style="width:20%;"><%= fprob.total_submit %></td>
			</tr>	
			<tr>
				<th style="color:#428BCA; width:80%;">Accepted Users</th>
				<td style="width:20%;"><%= ftotal_num %></td>
			</tr>	
			<tr>
				<th style="color:red;">Accepted</th>
				<td><%= fprob.total_ac %></td>
			</tr>	
			<tr>
				<th style="color:orange;">Presentation Error</th>
				<td><%= fprob.total_pe  %></td>
			</tr>	
			<tr>
				<th style="color:green;">Wrong Answer </th>
				<td><%= fprob.total_wa %></td>
			</tr>	
			<tr>
				<th style="color:green;">Runtime Error</th>
				<td><%= fprob.total_re %></td>
			</tr>	
			<tr>
				<th style="color:green;">Time Limit Exceeded</th>
				<td><%= fprob.total_tle %></td>
			</tr>	
			<tr>
				<th style="color:green;">Memory Limit Exceeded</th>
				<td><%= fprob.total_mle %></td>
			</tr>	
			<tr>
				<th style="color:green;">Output Limit Exceeded</th>
				<td><%= fprob.total_ole %></td>
			</tr>	
			<tr>
				<th style="color:#6633FF;">Compilation Error</th>
				<td><%= fprob.total_ce %></td>
			</tr>	
	</table>
</div>
<script>
	function lang(slang) {
		var pid = <%- JSON.stringify(fprob.pid) %>;
		var newurl = '/Statistics?pid=' + pid + '&lang=' + slang;
		window.location.replace(newurl);
	}
</script>
