<link href="/stylesheets/contest_problem.css" rel="stylesheet">
<script src="/javascripts/contest_problem.js"></script>
<ul class="nav nav-pills nav-stacked" style="margin-top:20px; width:13%; float:left; border-bottom:1px solid #ddd;" id="ctab">
	<li><a href="/Contest/ShowContests?cid=<%= fcont.cid %>">Overview</a></li>
	<li class="active"><a href="#">Problem</a></li>
	<li><a href="/Contest/Status?cid=<%= fcont.cid %>">Status</a></li>
	<li><a href="/Contest/Standing?cid=<%= fcont.cid %>">Standing</a></li>
	<li><a href="#">Clarification</a></li>
	<li><a href="#">Settings</a></li>
</ul>

<div id="ccontent" style="float:right; width:80%;">
<!-- Title -->
<h2 class="text-center" style="color:#428BCA; margin-top: 20px;"><%- fcont.title %></h2>
<!-- Status -->
<p class="text-center">Status:
	<span id="cstatus"></span><br/>
	<span id="tm_remain"></span>
</p>
<!-- Problem List -->
<div class="form-group">
	<% if (fshow) { %>
	<table id="problemList" class="table table-striped">
		<thead id="cstatus_head">
			<th class="header-status">
			</th>
			<th class="header-id">
				<div id="id" class="" order='asc'><a href="#">ID</a></div>
			</th>
			<th class="header-title">
				<div id="title" class="" order='asc'><a href="#">Title</a></div>
			</th>
			<th class="header-ac">
				<div id="ac" class="" order='asc'><a href="#">AC Ratio</a></div>
			</th>
		</thead>
		<tbody id="cstatus_body">
			<% fprobs.forEach(function(prob, index) { %>
			<tr id="<%= index %>">
				<% if (fsubmitted[prob.pid] == 1) { %>
				<td><span class="ac"></span></td>
				<% } else if (fsubmitted[prob.pid] == -1) { %>
				<td><span class="not-ac"></span></td>
				<% } else { %>
				<td></td>
				<% } %>
				<td class='index'><%= String.fromCharCode(65+index) %></td>
				<td class='title'><a href="/Contest/ShowProblems?cid=<%= fcont.cid %>&pid=<%= index + 1001 %>"><%= prob.title %></a></td>
				<td class='ac-ratio'><%= prob.total_ac%>/<%= prob.total_submit %></td>
			</tr>
			<% }); %>
		</tbody>
	</table>
	<% } %>
</div>
</div>
<script>
	function get_status() {
		var st = <%- JSON.stringify(fcont.start_time)%>;
		var ed = <%- JSON.stringify(fcont.end_time)%>;
		var now = new Date();
		st = new Date(st);
		ed = new Date(ed);
		if(now < st) {
			$("#cstatus").css({'color':'#EE7600'});
			$("#cstatus").html('Pending');
			} else if(now > ed) {
			$("#cstatus").css({'color':'green'});
			$("#cstatus").html('Passed');
			} else {
			$("#cstatus").css({'color':'red'});
			$("#cstatus").html('Running');
		}
		setTimeout("get_status()", 1000);
	}
	window.onload = get_status;
</script>
