<script src="/javascripts/ace/editors.js"></script>
<script src="/javascripts/contest_probsubmit.js"></script>

<style type="text/css" media="screen">
	#embedded_ace_code {
		height: 435px;
		width: 650px;
		border: 1px solid #DDD;
		border-radius: 4px;
		border-bottom-right-radius: 0px;
		margin-top: 65px;
		margin-left: 150px;
	}
	#langselect {
		margin-top: 15px;
		margin-left: -40px;
	}
	#submit-btn {
		margin-left: 280px;
		margin-top: 20px;
	}

</style>

<ul class="nav nav-pills nav-stacked" style="margin-top:20px; width:13%; float:left; border-bottom:1px solid #ddd;" id="ctab">
	<li><a href="/Contest/ShowContests?cid=<%= fcid %>">Overview</a></li>
	<li><a href="/Contest/Problems?cid=<%- fcid %>">Problem</a></li>
	<li><a href="/Contest/Status?cid=<%= fcid %>">Status</a></li>
	<li><a href="/Contest/Standing?cid=<%= fcid %>">Standing</a></li>
	<li><a href="#">Clarification</a></li>
	<li><a href="#">Settings</a></li>
</ul>

<div id="ccontent" style="float:right; width:80%;">
<div id="title">
	<h2 style="margin-left:161px;"><font color="#428BCA">Submit Your Solution</font></h2>
	<h6 id="code-err_msg" style="text-align:center; font-weight:normal;"></h6>
</div>
<div class="col-md-2" id="langselect">
	<select class="form-control" name="lang" id="lang" onchange="SelectLang(this)">
		<%- flang %>
	</select>
</div>
<div id="embedded_ace_code" style="opacity:1; margin-left:-25px;" >
</div>
<div id="submit-btn">
	<button type="submit" class="btn btn-primary" onclick="Submit()"> Submit </button>
</div>
</div>

<script src="/javascripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/ace/mode-java.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/ace/mode-c_cpp.js" type="text/javascript" charset="utf-8"></script>
<script>
	function Submit() {
		var edtime = <%- JSON.stringify(fedtime)%>;
		if(!CheckTime(edtime)) return;
		var editor = ace.edit("embedded_ace_code");
		var code = editor.getValue();
		var aform = document.createElement('form');
		aform.method='post';
		aform.action='/Contest/ProbSubmit?cid=<%= fcid %>&pid=<%= findex+1001 %>';
		var a=document.createElement('input');
		a.type='hidden';
		a.name='code';
		a.value=code;
		var b=document.createElement('input');
		b.type='hidden';
		b.name='lang';
		b.value=document.getElementById('lang').value;
		aform.appendChild(a);
		aform.appendChild(b);
		document.body.appendChild(aform);
		aform.submit();
	}
</script>
